@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  outline: none !important;
}

div button a {
  @apply transition duration-300 ease-out;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  @apply h-10 flex items-center;
}


.titlebar .action {
  -webkit-app-region: no-drag;
  @apply w-10 h-10 flex items-center justify-center;
}
/* -------------------------------------------------------------------------- */
/*                                  TOASTIFY                                  */
/* -------------------------------------------------------------------------- */
/** Classes for the displayed toast **/
.Toastify__toast {
  @apply rounded font-sans border;
}
.Toastify__toast--dark {
  @apply bg-gray-800 border-gray-900;
}
.Toastify__toast--default {
  @apply bg-white border-gray-100;
}
.Toastify__toast--info {
  @apply bg-blue-500 border-blue-600;
}
.Toastify__toast--success {
  @apply bg-green-500 border-green-600;
}
.Toastify__toast--warning {
  @apply bg-yellow-500 border-yellow-600;
}
.Toastify__toast--error {
  @apply bg-red-500 border-red-600;
}

/* -------------------------------------------------------------------------- */
/*                              CUSTOM SCROLLBAR                              */
/* -------------------------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-800;
}
.dark::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600;
}